@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Form 9</h1>
<form method="post">
    <table>
        <tr>
            <td><label>User Name</label></td>
            <td><input type="text" name="uname" placeholder="Enter User Name" required /></td>
        </tr>
        <tr>
            <td><label>Product Name</label></td>
            <td><input type="text" name="pname" placeholder="Enter Product Name" required /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="b1" value="Next" /></td>
        </tr>
    </table>
</form>

