@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Form 1</h1>
<form method="post">
    <table>
        <tr>
            <td><label>No1</label></td>
            <td colspan ="3"><input type="text" name="n1" value="@ViewBag.n1" required/> </td>
        </tr>
        <tr>
            <td><label>No2</label></td>
            <td colspan="3"><input type="text" name="n2" value="@ViewBag.n2" required/> </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="b1" value="Max" /> </td>
            <td><input type="submit" name="b1" value="Min" /> </td>
            <td><input type="submit" name="b1" value="Avg" /> </td>
        </tr>
        <tr>
            <td><label>Result</label></td>
            <td colspan="3"><input type="text" name="n3" value="@ViewBag.b1" readonly /> </td>
        </tr>
    </table>
</form>